.photo-view {
  position: relative;
  height: 100%;
  width: 100%;

  &-tools {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-right {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}

.zoom-buttons,
.rotate-buttons {
  box-sizing: border-box;
  height: 28px;
  border: 1px solid #e5e6eb;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.zoom-buttons {
  width: 91px;
}

.rotate-buttons {
  width: 54px;

  &--single {
    width: 28px;
  }
}

.zoom-scale-label {
  width: 37px;
  font-size: 12px;
  text-align: center;
  user-select: none;
  color: #1a1d26;
}

// .custom-button-base-style {
//   color: #7c87a6 !important;
// }

.photo-canvas-wrapper {
  height: calc(100% - 42px);
  width: 100%;
  background-color: #eef3ff;
  border: 1px solid #eef3ff;
  border-radius: 8px;
  overflow: hidden;

  canvas {
    width: 100%;
    height: 100%;
  }
}
